<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand"  href="/">Acceuil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/planetes">|    Planetes    |</a>
                </li>
                <li class="nav-item">
                    <a href="/cart">|    Panier    |</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<img src="https://media.virginradio.fr/article-4294369-head/media.jpg" alt="bg image" class="mb-2 w-100">
<h1 class="position-absolute" style="top:10%; width: 100%; text-align: center;  color : white; font-size: 10vw;">ACHETE TA PLANETE</h1>