<h2>
  <nav>
    <ul>
      <li>logo</li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nihil
        tenetur deserunt eveniet odio officia veritatis laborum aliquam suscipit
        quod.
      </li>
      <li>nous rejoindre</li>
      <li>contact</li>
    </ul>
  </nav>
</h2>
