<div
  style="
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
  "
>
  <img
    src="https://images-ext-2.discordapp.net/external/hRocq-frRloY7kohqd6nY0rBzOIq4tW5GPq_bgl9-Ms/https/www.lactugeek.com/wp-content/uploads/2020/03/mercure-plan%25C3%25A8te.jpg?width=701&height=701"
    style="width: 150px"
    alt="halte la"
  />

  <ul
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      align-items: center;
    "
  >
    <li style="padding-right: 100px">articles</li>
    <li style="padding-right: 100px">nous rejoindre</li>
    <li style="padding-right: 100px">contact</li>
  </ul>
</div>