<div
  style="
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
  "
>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Planet_nine_artistic_plain3.png"
    style="width: 150px"
    alt="halte la"
  />

  <ul
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      align-items: center;
    "
  >
    <li style="padding-right: 100px">articles</li>
    <li style="padding-right: 100px">nous rejoindre</li>
    <li style="padding-right: 100px">contact</li>
  </ul>
</div>
