<div class="container d-flex justify-content-evenly flex-wrap">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Planet_nine_artistic_plain3.png"
    alt="halte la"
    style="
      max-width: 250px;
      max-height: 100%;
      object-fit: cover;
      border-radius: 5px;
    "
  />

  <ul
    style="
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      text-align: center;
      align-items: center;
      list-style: none;
    "
  >
    <li style="padding-right: 100px; font-size: 2em">
      <a href="https://fr.wikipedia.org/wiki/Plan%C3%A8te_Neuf" target="_blank"
        >Une Neuvieme planète ?</a
      >
    </li>
    <li style="padding-right: 100px; font-size: 2em">nous rejoindre</li>
    <li style="padding-right: 100px; font-size: 2em">contact</li>
  </ul>
</div>
