<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head'); %>
</head>

<body>
    <%- include('../includes/header'); %>
        <main>
            <h1>Oooops</h1>
            <h2>Page inexistante</h2>>
        </main>
        <%- include('../includes/footer'); %>
</body>

</html>